.input {
	padding: 0.6rem;
	border-radius: 0.3rem;
	background: var(--clr-white);
	border: 3px solid var(--clr-gray);
	color: var(--clr-black);
}

.input:focus {
	border: 3px solid var(--clr-gray-light);
	outline: 0;
}
.input--block {
	width: 100%;
}
