.aboutPage__sec {
	margin-bottom: 5rem;
}
.aboutPage__sec:last-of-type {
	margin-bottom: 0;
}
.aboutPage__sec img {
	box-shadow: 0rem 0rem 3px 0px var(--clr-black-light);
	border-radius: var(--br-s);
}
.aboutPage__sec p {
	font-size: var(--fs-m);
}
.skillIcons {
	display: flex;
	flex-wrap: wrap;
	margin-top: var(--space-s);
}
.skillIcons > span {
	flex: 1 1 10%;
	padding-right: var(--space-s);
	margin-bottom: var(--space-s);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.skillIcons > span > svg {
	height: 5rem;
	width: 100%;
}
@media (max-width: 768px) {
	.skillIcons > span {
		flex-basis: 20%;
	}
}
