.contactPage > h1 {
	margin-bottom: var(--m-p-s);
}
.contactPage p {
	margin-bottom: 0.5rem;
}

.contactPage__section {
	margin-bottom: var(--m-p-s);
}

.contactInfo__item {
	display: flex;
	align-items: center;
}
.contactInfo__item > svg {
	margin-right: 0.5rem;
	color: var(--clr-gray);
}

.socialIcons {
	margin-top: var(--m-p-s);
	font-size: var(--fs-l);
}
.socialIcons > a {
	margin-right: 0.5rem;
}
