.contactPage__section {
	margin-bottom: 5rem;
}
.contactPage__section:last-of-type {
	margin-bottom: 0;
}

.contactInfo__item {
	display: flex;
	align-items: center;
}
.contactInfo__item > svg {
	margin-right: 0.5rem;
	color: var(--clr-gray);
}

.socialIcons {
	margin-top: var(--space-s);
	font-size: var(--fs-l);
}
.socialIcons > a {
	margin-right: 0.5rem;
}
@media (max-width: 768px) {
	.contactPage__section {
		margin-bottom: 5rem;
	}
	.contactPage__section:last-of-type {
		margin-bottom: 0;
	}
}
