.a {
	position: relative;
	text-decoration: none;
	color: var(--clr-white);
	transition: color 0.1s ease-out;
}
.a::after {
	content: "";
	background: var(--clr-primary);
	height: 10%;
	width: 100%;
	position: absolute;
	bottom: 5%;
	left: 0;
}
.a:hover {
	color: var(--clr-primary);
}
