.btn {
	border: none;
	color: var(--clr-white);
	padding: 0.5rem 1rem;
	border-radius: 0.4rem;
	cursor: pointer;
}

/* primary */
.btn--primary {
	background: var(--clr-primary);
	border: 2px solid var(--clr-primary);
	transition: background 0.1s ease-out;
}
.btn--primary:hover,
.btn--primary:focus:active {
	background: var(--clr-primary-1);
}

/* sizing */
.btn--m,
.btn--mf {
	font-size: var(--fs-m);
}
.btn--m {
	padding: 0.3rem 1rem;
}
.btn--mf {
	padding: 0.5rem 1rem;
}
