.btn {
    border: none;
    color: var(--clr-grad-1);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.btn--primary {
    background: var(--clr-primary);
}

.btn--primary:hover, .btn--primary:focus:active {
    background: var(--clr-primary-dark);
}

.btn--l {
    padding: 0.75rem 1.5rem;
    border-radius: 1.5rem;
    font-size: var(--fs-l);
}