.DrawerSidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	@apply bg-white;
	@apply transition duration-200;
	@apply z-10;
}
.DrawerSidebarClose {
	transform: translateX(-100%);
}
.DrawerSidebarOpen {
	transform: translateX(0);
}
