.header {
    background: var(--clr-grad-2);
    padding: var(--m-p-s) 0;
    box-shadow: 0px -1px 1px 1px var(--clr-white);
}

.header-nav {
    display: flex;
    justify-content: center;
}

.header-nav a {
    text-decoration: none;
    color: var(--clr-white);
    margin-right: var(--m-p-xl);
}

.header-nav a:last-child {
    margin-right: 0;
}

.header-nav a:hover {
    color: var(--clr-primary);
}