.hero {
    display: flex;
    align-items: center;
    padding-top: var(--m-p-l);
}

.hero-intro {
    flex: 1.5;
    margin-right: var(--m-p-l);
}

.hero-intro>h1 {
    font-size: var(--fs-xxl);
}

.hero-intro>h3 {
    margin-bottom: 2rem;
}

.hero-intro>p {
    font-size: var(--fs-xl);
    margin-bottom: 2rem;
}

.hero-intro>button {
    margin-bottom: 1rem;
}

.hero-portrait {
    flex: 1;
}

.hero-portrait>img {
    border: 0.6rem solid var(--clr-primary);
    border-radius: 50%;
}