.skillIcons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.skillIcons > span {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.skillIcons > span > svg {
	min-height: 5rem;
	min-width: 5rem;
}
