@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
:root {
	/* colors */
	--clr-primary: #2872ff;
	--clr-primary-1: #0159ff;

	--clr-black: #2f2f2f;
	--clr-black-light: #444444;

	--clr-white: #fafafa;

	--clr-gray: #c1c1c1;
	--clr-gray-light: #e1e1e1;
	--clr-gray-lightest: #efefef;

	/* font-size */
	--fs-s: 1rem;
	--fs-m: 1.1rem;
	--fs-l: 1.25rem;
	--fs-xl: 2rem;

	/* margin-padding sizes */
	--space-s: 1rem;
	--space-m: 2rem;
	--space-l: 3rem;
	--space-xl: 4rem;

	/* border-radius */
	--br-s: 0.2rem;
	--br-m: 0.4rem;

	/* root styles */
	/* 1rem = 16px */
	font-size: calc(9.75px + 1vmin);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	--fc-main: var(--clr-black);
	--ff-main: "Poppins", sans-serif;
	--bg-main: var(--clr-white);
}
body {
	margin: 0;
	color: var(--fc-main);
	font-family: var(--ff-main);
	background: var(--bg-main);
	background-image: url(./static/circuit-board.svg);
	border-top: 0.5rem solid var(--clr-primary);
	border-bottom: 0.5rem solid var(--clr-primary);
	min-height: 100vh;
	position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

button,
input,
textarea {
	font-family: inherit;
}
button {
	border: 0;
	padding: 0.3rem 0.5rem;
	color: inherit;
}
body main {
	padding: var(--space-l) 0;
}
main img,
main p {
	margin-bottom: 0.5rem;
}
main h3 {
	margin-bottom: var(--space-s);
	font-size: 1.5rem;
}
a {
	text-decoration: none;
	color: inherit;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
