@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
:root {
	/* colors */
	--clr-primary: #2872ff;
	--clr-primary-1: #0159ff;

	--clr-white: #fafafa;

	/* font-size */
	--fs-s: 1rem;
	--fs-m: 1.1rem;
	--fs-l: 1.25rem;
	--fs-xl: 2rem;
}

body {
	background-image: url(./static/circuit-board.svg);
	@apply m-0;
	@apply bg-white text-gray-800 font-sans;
	@apply border-t-half-rem border-b-half-rem border-primary;
	@apply min-h-screen;
	@apply relative;
	@apply text-xl;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer utilities {
	@responsive {
		.side-nave-close {
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transform: translateX(-100%);
			@apply bg-white;
			@apply transition duration-200;
			@apply z-10;
		}
		.side-nave-open {
			transform: translateX(0);
		}
	}
}
@layer utilities {
	.container {
		max-width: 900px;
	}
}
